.section {
  margin-top: 66px;
}

p{
  text-align: center;
  font-family: 'GmarketSansMedium';
  font-size: 17px;
  font-weight: 400;
}
p strong{
  font-family: 'GmarketSansBold';
  font-size: 20px;
  font-weight: 700;
}

.commaBox{
  display: flex;
  justify-content: center;
}
.commaBox img {
  object-fit: contain;
  height: 100%;
  transform: translate(0%, 50%);
}

.commaBox p {
  margin: 0 14px;
}